# environment
.env

# python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
test.py
local_model.py

# uploaded PDFs (too large for git)
docs/
plan.md
learn.md


# streamlit
tempCodeRunnerFile.py
main.py
.vscode/

idea/